.div-patient-info{
    margin-right: 20px;
    height: 100%;

    .container-patient-info{
        padding: 18px 0px;
        border-radius: 30px;
        height: 100%;
        background: rgb(255, 255, 255);

        .patient-info-first-grid{
            padding: 0px 8px;
            text-align: center;
            border-right: 1px solid gray;

            .name{
                font-size: 20px;
            }

            .cnp{
                font-size: 18px;
                padding-bottom: 18px;
            }

            .phone,
            .address{
                font-size: 15px;
                color: gray;

                &.phone{
                    padding-bottom: 5px;
                }
            }

            .phone-icon,
            .place-icon{
                font-size: 15px;
            }

            .box{
                text-align: center;
                padding: 16px;

                .view-button{
                    color: #191919;
                    border-color: #191919;
                }

                .add-button{
                    background-color: #FFCF81;
                    color: #191919;
                }
            }

            .event-icon,
            .check-icon{
                font-size: 2rem;
                margin-bottom: 1;
            }

            .typography{
                font-size: 15px;
            }
        }

        .patient-info-second-grid{
            .grid-button{
                display: flex;
                justify-content: flex-end;
                padding-right: 15px;
            }
        }
    }
}

.dialog-edit{
    .appbar{
        position: relative;
        background: #FBFBFB;
    
        .save-button{
            margin-left: auto;
            padding-left: 20px;
            padding-right: 20px;
        }

        .cancel-button{
            color: #F52A2A;
            margin-left: 10px;
            border-color: #F52A2A;
            :hover{
                background-color: #FBFBFB;
                border-color: #F52A2A;
            }
        }
    }

    .grid-container{
        justify-content: center;

        .grid-form{
            width: 500px;
            justify-content: center;

            .title{
                text-align: center;
                font-size: 20px;
            }
        }
    }
}