.container{
    position: relative;
    min-height: 100vh;

    .overlay{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        padding: 0 20px;

        .alert-success{
            width: max-content;
            padding: 20px 40px;
            font-size: 17px;
            text-align: center;
            background-color: #bcdfac;
            color: #156112;
        }

        .alert-error{
            width: max-content;
            padding: 20px 40px;
            font-size: 17px;
            text-align: center;
            background-color: #db5252;
            color: #ffffff;
        }
    }
}