.container-medical-condition{
    border-radius: 30px;

    .title{
        font-size: 18px;
        padding-bottom: 15px;
    }

    .allergies-box{
        padding-top: 20px;
        padding-left: 40px;

        .allergy-item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid gray;

            .delete-icon{
                visibility: hidden;
            }

            &:hover{
                cursor: pointer;

                .delete-icon{
                    visibility: visible;
                }
            }
        }
    }

    .grid-button{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .no-data-box{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;

        .add-icon-button{
            background-color: #FFCF81;
            :hover{
                background-color: #FFCF81;
            }
        }
    }

    .edit-box{
        display: flex;
        width: 100%;
        margin-top: 10px;
    }

    .add-button{
        color: rgb(102, 102, 102);
        background-color: transparent;
        margin-top: 10px;

        :hover{
            background: transparent;
        }
    }
}
