.patient-profile{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-image: linear-gradient(to left top, #cbdcc9, #cce3d5, #d0e8e1, #d7eeec, #dff3f5, #dff2f7, #e0f1f8, #e2eff9, #dce8f4, #d6e0f0, #d2d9eb, #ced1e5);

    .main-content{
        flex: 1;
        min-height: 100vh;
        margin: 0px 25px;

        .grid-item-path{
            padding: 18px 0px;
            display: flex;
            align-items: center;

            .path{
                font-size: 17px;
                padding-right: 15px;

                .arrow-icon{
                    font-size: 15px;
                }
            }
        }

        .div-tabs{
            margin-right: 20px;

            .container-tabs{
                background-color: rgba(255, 255, 255, 0.555);
                border-radius: 30px;
                padding: 16px;

                .box-tab-list{
                    border-bottom: 1px solid rgb(214, 214, 214);
                }

                .container-tab-panel{
                    min-height: 200px;
                    max-height: 600px;
                    overflow-y: auto;

                    .container-step{
                        padding: 15px;
                        align-items: center;
        
                        &:hover{
                            background-color: rgb(230, 230, 230);
                            cursor: pointer;
                        }

                        .next{
                            display: flex;
                            justify-content: flex-end;
                        }
                        
                        .next-button{
                            background-color: #c0e8dc;
                            font-size: 16px;
                            padding: 5px 30px;
                            cursor: pointer;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}