.appbar{
    .title{
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 500;
        color: #1a1919;
    }
}

#active{
    background-color: rgb(245, 222, 222);
}