.sidebar{
    width: 7vw;
    height: 100vh;
    border-radius: 70px;
    background-color: rgba(255, 255, 255, 0.555);
    padding: 20px;
    position: sticky;
    top: 0;

    .sidebar-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;

        .logo{
            text-align: center;
            margin: 20px 20px;
            font-size: 20px;
            color: black;
        }

        .button{
            width: 82px;
            border-radius: 50px;
            padding: 25px 10px;
            font-size: 16px;
            margin: 4px 2px;
            border: none;
            cursor: pointer;
            background-color: transparent;

            &:hover{
                background-color: #bfdce58c;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 3px solid rgba(0, 0, 0, 0.171);
            }

            &#active{
                background-color: #ffffff;
            }
        }

        .icon{
            display: block;
            font-size: 25px;
        }
    }
}